@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    @if(Program.User != null)
    {
        <hr />
        @Program.User.Status
        <br />
        @Program.User.FIO
        <hr />
    }
</div>
