@{
    ViewData["Title"] = "Главная";
}
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать!</h1>
        <h1 class="display-6">Поликлиника "Будьте больны"</h1>
    </div>

<div class="text-center">
    @if(Program.User != null)
    {
        <hr />
        @Program.User.Status
        <br />
        @Program.User.FIO
        <hr />
    }
</div>
