<<title>@ViewData["Title"] - DemoGoogleChart</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div"></div>
<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);
    function LoadData() {
        $.ajax({
            url: 'https://localhost:44397/Client/Metod',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                Metod(data);
                return false;
            }
        });
        return false;
    }
    function Metod(data) {
        var dataArray = [
            ['Date', 'Count Inspection']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.cityName, item.populationYear2020]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: ' Количевство обследовнаий по месяцам 2021',
            is3D: true,
            isStacked: true,
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a'],
            hAxis: {
                title: 'Mounth',
                minValue: 0
            },
            vAxis: {
                title: 'Count'
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        return false;
    }
</script>
